:root {
  --blackish: #222;
  --whiteish: #e5e5e5;
  --red: #ff5e56;
  --yellow: #ffbd2e;
  --green: #27c93f;
  --backgroundSize: 300px;
}

.backgound-common-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #000;
  color: #fff;
  font-family: "Poppins", sans-serif;
  padding: 2rem;
  background-image: url(https://img.freepik.com/free-vector/seamless-pattern_1159-5086.jpg?size=626&ext=jpg);
  background-size: var(--backgroundSize);
  animation: movingBackground 5s linear infinite;
  position: relative;
}

.backgound-common-container:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1;
  top: 0;
  left: 0;
}

@keyframes movingBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: var(--backgroundSize) var(--backgroundSize);
  }
}
